@import url("https://use.typekit.net/rlj5vml.css");  /* Adobe Fonts Link for Hobeaux */
@import url("https://use.typekit.net/rlj5vml.css");  /* Adobe Fonts Link for Charter BT */

/* Specific styles for Hobeaux font (titles) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Hobeaux', sans-serif; /* Using Hobeaux from Adobe Fonts */
  font-weight: 700; /* Set the weight to bold */
  text-transform: none; /* You can add text-transform (uppercase, etc.) if needed */
  line-height: normal;
}

/* Specific classes for page title and app title */
.appTitle {
  font-size: 1.2em;
  font-family: 'Hobeaux', sans-serif; /* Using Hobeaux font */
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

.pageTitle {
  font-size: 5em;
  font-family: 'Hobeaux', sans-serif; /* Using Hobeaux font */
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

/* Body text using Charter BT font */
body, p, span, a, div, li {
  font-family: 'Charter BT', serif; /* Apply Charter BT for the rest of the text */
  font-weight: normal; /* Use normal weight for body text */
  line-height: 1.6; /* Adjust line height for readability */
}
